body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    color: #0b0b0b;
    position: absolute;
    left: 60px;
    right: 60px;
    top: 0px;
    bottom: 0px;
}
a:link, a:visited {
    text-decoration: none;
    color: #f0993c;
    font-weight: bold;
}
h1 {
    font-size: 40px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left {
    flex: auto;
}

.right {
    flex: auto;
}

.lead {
    font-size: 16px;
}

.kpi-container {
    display: flex;
    justify-content: center;
}

.kpi {
    text-align: center;
    margin: 10px;
    flex: 1; /* Distribute available space evenly among KPIs */
}

.kpi-value {
    font-size: 40px;
    font-weight: bold;
}

.kpi-label {
    font-size: 16px;
}

.circle-container {
    display: flex;
    align-items: center;
}

.circle-container p {
    font-size: 16px;
    color: #0b0b0b;
    margin-left: 10px;
}

.circle1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f0993c;
    /* background-color: #d9aa96; */
}

.circle2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #555b51;
    margin-left: 30px;
}

/* Add custom styling for today's node */
.today-node {
    stroke: #afafaf;
    stroke-width: 7;
}

@media screen and (max-device-width: 600px) {
    h1 {
        font-size: 32px;
    }

    .lead {
        font-size: 12px;
    }

    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .left,
    .right {
        flex: none;
        width: 100%;
        padding: 0;
    }

    .kpi-value {
        font-size: 32px;
        font-weight: bold;
    }

    .kpi-label {
        font-size: 24px;
    }
}
