h1 {
    font-family: 'Open Sans', Arial, sans-serif ; color: rgb(98,98,98) ; font-size: 2vw
}

p {
    font-family: 'Open Sans', Arial, sans-serif; font-size: 1.7vw; color: rgb(98,98,98)
}

.test1 {
  color: rgb(98,98,98);
}

.test1:hover {
  color: rgb(70,70,70);
}

.responsive {
    width: 100%;
    height: auto;
}

#preco {
    text-align: right;
}

table {
    font-family: 'Open Sans', Arial, sans-serif; font-size: 1.7vw; color: rgb(98,98,98);
}

td {
    padding: 15px;
    vertical-align: top;
}



a {
    color: rgb(70,70,70); font-weight: bold; text-decoration: none;
}

a:hover {
    color: #06a8de;
}

